@model IList<Department>
@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link bootstrap-select" asp-area="" asp-controller="Departments"
           asp-action="Details" asp-route-id="@item.DepartmentId">@item.DepartmentName</a>
    </li>
}

