@model TelefonRehberi.Models.Worker

@{
    ViewData["Title"] = "Çalışan Kaydı Oluştur";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h1>Yeni Çalışan Ekle</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="WorkerFirstName" class="control-label">Çalışan Adı</label>
                        <input asp-for="WorkerFirstName" class="form-control" />
                        <span asp-validation-for="WorkerFirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WorkerLastName" class="control-label">Çalışan Soyadı</label>
                        <input asp-for="WorkerLastName" class="form-control" />
                        <span asp-validation-for="WorkerLastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WorkerPhoneNumber" class="control-label">Çalışan Telefon Numarası</label>
                        <input asp-for="WorkerPhoneNumber" class="form-control" />
                        <span asp-validation-for="WorkerPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Çalıştığı Departman</label>
                        @Html.DropDownListFor(m => m.DepartmentId,
                                              Model.departments,
                                              "- Lütfen departman seçiniz. -",
                                              new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bağlı Olduğu Yönetici</label>
                        @Html.DropDownListFor(m => m.WorkerManagerId,
                                              Model.workers,
                                              "- Lütfen yönetici seçiniz. -",
                                              new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Oluştur" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Listeye Dön</a>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = new Jodit('#ProductContent');
    </script>
}