@page
@model ErrorModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Hata.</h1>
<h2 class="text-danger">Bir hata oluştu.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Hata Kodu:</strong> <code>@Model.RequestId</code>
    </p>
}
