@{
    ViewData["Title"] = "Deniz Dikbıyık";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h4>Deniz Dikbıyık hakkında detaylı bilgiye erişmek için:</h4>
        <a href="http://www.linkedin.com/in/denizdikbiyik1996"> 
            <h4>Linkedin Profili</h4>
        </a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    </script>
}